aws_region = "eu-west-1"

confluent_cloud_organization_id = ""
confluent_cloud_environment_id = ""
confluent_cloud_environment_name = ""
confluent_cloud_api_key = ""
confluent_cloud_api_secret = ""

kafka_id = ""
kafka_cluster_name = ""
kafka_rest_endpoint = ""
kafka_api_key = ""
kafka_api_secret = ""

schema_registry_id = ""
schema_registry_rest_endpoint = ""
schema_registry_api_key = ""
schema_registry_api_secret = ""

tableflow_catalog_rest_endpoint = ""
tableflow_api_key = "" 
tableflow_api_secret = ""

flink_compute_pool_id = ""
flink_rest_endpoint = ""
flink_api_key = ""
flink_api_secret = ""
flink_service_account_id = ""